.margin{
    width: 90%;
    margin-top: -10%;
  }
  
  .marginInput{
      position: relative;
      left: 46%;
      top:-110px;
  }
  .searchBtn{
      position: relative;
      left: 90%;
      top:-55px;
      background-color: rgb(192, 191, 190);
      height: 35px;
      border: none;
      border-radius: 12px;
  }
  .addExpense{
      position: relative;
      left: 82%;
      bottom: 250px;
      border: none;
      background-color: rgb(238, 161, 37);
      height: 37px;
      border-radius: 12px;
  }