<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="navigation"><br>
        <h2>Nyama</h2><br>
        <ul>
            <li><a routerLink="/boutique">Boutique</a></li>
            <li><a routerLink="/commande">Commande</a></li>
            <li><a routerLink="/depenses">Dépenses</a></li>
            <li><a routerLink="/comptabilite">Comptabilité</a></li>
            <li><a routerLink="/utilisateurs">Utilisateurs</a></li>
        </ul>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</body>
</html>